.oppertunity-page {
    margin-top: 20px;
    padding: 0 20px;
    text-align: center;
}

.oppertunity-page .title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 64px;
}

.oppertunity-page .entry {
    font-size: 18px;
    text-align: start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.oppertunity-page .entry li {
    color: #757575;
    margin-bottom: 40px;
}



@media(max-width:576px) {
    .oppertunity-page .title{
        margin-bottom: 0px;
    }
    .oppertunity-page .entry {
        grid-template-columns: 1fr;
    }

    .oppertunity-page .entry li {
        margin-bottom: 20px;
    }
}