.membership-page {
    padding: 0 40px;
    display: flex;
    text-align: start;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}


.program-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.membership-page h1 {
    color: #0D2366;
}

.membership-page .info {
    color: #528FF0;
}

.membership-page h2,
.membership-page h3 {
    color: #0D2366;
}



.details-card {

    text-align: start;
    /* min-height: 400px; */
    max-width: 330px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    box-shadow: var(--shadow);
}


.details{
    padding-top: 20px;
    padding: 0 20px;
}

.details-card ol {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    /* list-style: none; */
    color: black;
    gap: 10px;
}




.pm-button {
    top: 20px;
    position: relative;
    height: 50px;
    width: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: var(--shadow);
    background: var(--gradient);
    margin: 20px 0px;
}

.pm-button a {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.pm-button:hover {
    box-shadow: var(--hover-shadow);
}


@media(max-width:576px){
    .membership-page{
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 0 20px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .details{
        text-align: center;
        padding: 0px 10px;
    }

    .details ol{
        text-align: start;
    }
}