.event-page {
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.event-img {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.event-button{
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color:white;
}

.event {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;

}

.event-img img {
    justify-self: right;
    width: 100%;
    max-width: 300px;
}

.event .info {
    display: flex;
    flex-direction: column;
    gap: 0px;
    text-align: start;
    width: 50%;

}

.event .info .about-event {
    color: gray;
    max-width: 75%;
}

.event button {
    max-width: 150px;
}


@media(max-width : 576px) {
    .event-page {
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
    }

    .event {
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .event .info {
        align-items: center;
        text-align: center;
        width: 90%;
    }

    .event .info button i{
        padding-left: 10px;
    }

    .event .info .about-event {
        max-width: 100%;
    }
}