.contact-page {
    margin-top: 100px;
    min-height: 100px;
    background: var(--gradient);
    display: flex;
    box-shadow: 0px -10px 24px 0px rgba(0, 0, 0, 0.20);
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.address-box {
    margin: 10px 40px;
    max-width: 300px;
}

.address-box .address,
.address-box a {
    text-decoration: none;
    text-align: start;
    color: white;
}

.contact-page .social-media {
    background: white;
    min-width: 300px;
    padding: 20px;
    align-items: center;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
}

.social-media img {
    height: 30px;
    width: 30px;
}

@media(max-width:576px) {
    .contact-page {
        flex-direction: column;
        align-items: center;
    }

    .contact-page .social-media{
        min-width: 250px ;
    }
}