.tech-page {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
}


.tech-card {
    margin: 100px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.tech-page .info{
    color: grey;
}

.tech-card .img {
    max-width: 50%;
}

.tech-card img {
    width: 100%;
    max-width: 520px;
}

.tech-card .content {
    padding-left: 100px;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

.tech-card .info {
    color: gray;
    max-width: 85%;
}

@media (max-width:576px) {
    .tech-page {
        /* margin-top: 300px; */
        padding: 0 20px;
    }

    .tech-card {
        gap: 30px;
        margin: 50px 0px;
        flex-direction: column;
    }

    .tech-card .content,
    .tech-card .info {
        text-align: center;
        padding-left: 0;
        align-items: center;
        max-width: 100%;
    }

    .tech-card .content button i{
        padding-left: 10px;
    }
    .tech-card .img {
        max-width: 100%;
    }
}