body {
  margin: 0;
  font-family: source-code-pro, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #fff;
  --accent-color: #6c6cff;
  --indicator-color: #393d69;
  --shadow: 0px 6px 20px rgba(0, 0, 0, 0.185);
  --hover-shadow: 0px 3px 20px rgba(65, 54, 241, .7);
  --gradient: linear-gradient(45deg, rgba(135, 67, 255, 1) 0%, rgba(65, 54, 241, 1) 100%);
  --horizontal-gradient: linear-gradient(90deg, rgba(135, 67, 255, 1) 0%, rgba(65, 54, 241, 1) 100%);
}

.icon {
  font-size: 24px;
  height: 1em;
  width: 1em;
  display: grid;
  align-items: center;
}


body::-webkit-scrollbar {
  width: 6px;
  border-radius: 50px;
  background-color: #D8D8D8;
}

body::-webkit-scrollbar-thumb {
  background-color: #4f39f4b6;
  border-radius: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  background: var(--horizontal-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: all 500ms ease;
}


button i{
  font-size: 18px;
}

button:hover {
  box-shadow: var(--hover-shadow);
}

/* Margin */

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}


/* padding */

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}